cleaned_data.csv
lin
venv
data_with_sentiment.csv
Karims_review_csv
prep.ipynb
prep.ipynb
processing_reviews.py
reviews_karims bhubaneswar patia.json
scraper.py
sentiment_trend.png
sentiment.ipynb
visualize.py
test.ipynb
/mnt/mydrive/Reelo/sentiment_pie_chart.png
